* {
  margin: 0;
  padding: 0;
  line-height: normal;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

#header {
  height: 80px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}

#header-area > span {
  font-size: 30px;
  font-weight: 600;
}

#body {
  min-height: 100vh;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
}

#footer {
  height: 200px;
  background-color: rgb(230, 230, 230);
}

#header-area {
  width: 1300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header-area img {
  width: 180px;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .product-card {
    width: 150px !important;
    height: 250px !important;
  }
  .product-img {
    height: 100px !important;
    object-fit: contain;
  }

  #header {
    padding: 0 8px;
  }
  #body {
    padding: 0 8px;
  }
  .ant-carousel {
    margin: 0 -8px;
  }
  #banner {
    margin: 0 -8px;
  }
}
